html, body {
    margin:0;
    padding: 0;
}

#container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    /* border: 3px solid gray; */
    padding: 5px;
}

#leftside {
    height: 100%;
    /* border: 3px solid gray; */
    padding: 5px;
}

#bg-perlin {
    width: 100%;
    height: auto;
}

#bg-babylon {
    width: 100%;
    height: auto;
}

#rightside {
    height: 100%;
    /* border: 3px solid gray; */
    padding: 5px;
}

canvas {
    border: 1px solid red;
}

h3 {
    margin: 2px;
}

form {
    /* border: 3px solid gray; */
    padding: 5px;
}

